# dependencies
node_modules/
package-lock.json

# production build
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / editors
.vscode/
.idea/
.vite/

# OS files
.DS_Store
Thumbs.db

# Ajout du fichier de création des passwords
admin/create-password-hash.php