* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    background-color: floralwhite;
}

.racine-site {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin: auto;
}

.racine-site > div {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    /* Permet de mettre les div enfants en en dessous de l'autre mais pas 100%*/
    -webkit-flex-wrap: wrap;
    /* Permettre de complète le fixage les uns en dessous des autres parfaitement */
    -webkit-flex-direction: column;
    flex-direction: column;
}

.racine-site > .left,
.racine-site > .right {
    width: 25%;
}

.racine-site > .middle {
    width: 50%;
}

.racine-site > .left > div {
    width: 100%;
}

.racine-site > .left .logo-left img,
.une-passion-photo a img {
    width: 100%;
    height: auto;
}

#haut-page-desktop,
#haut-page-cellulaire {
    margin: 0;
}

.racine-site > .left > div .liste {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.racine-site > .left > div .liste li {
    font-weight: bold;
    background-color: darkgrey;
    line-height: 35px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.racine-site > .left > div .liste li:hover {
    background-color: black;
    cursor: pointer;
}

.racine-site > .left > div .liste li a:hover {
    color: red;
}

.liste li a,
.liste_nav li a {
    color: white;
    display: block;
    text-decoration: none;
    /* Pour centrer le texte */
    margin-left: 25px;
    margin-right: 25px;
}

.racine-site > .left #hidden {
    display: none;
}

.racine-site > .left #hidden #enum-language li {
    font-weight: bold;
    padding-left: 15px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
}


/* Nouvelle section sur le calendrier */

#calendrier-ajax {
    width: 100%;
}

.calendrier {
    border-spacing: 1px;
    width: 100%;
    background-color: #FFFFFF;
}

.ligne_mois_actuel {
    background-color: #3A1A99;
}

.ligne_jour_lettre {
    background-color: #C3C3C3;
}

th {
    /* le texte est automatique en gras pour un titre de tableau */
    text-align: center;
    font-size: 16px;
}

.contenu_ligne_mois {
    color: #FFFFFF;
}

.contenu_ligne_jour_lettre {
    color: #676767;
}

.ligne_jour_chiffre {
    background-color: #ECECEC;
}

td {
    text-align: center;
    font-size: 16px;
    color: #8A8A8A;
}

.contenu_ligne_jour_actuel {
    font-size: 18px;
    color: #737373;
    font-weight: bold;
}

.ligne_heure_actuel {
    background-color: #ECECEC;
}

.contenu_ligne_heure_actuel {
    font-size: 24px;
    color: #737373;
    font-weight: bold;
}

.racine-site > .left .section-meteo {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#enum-language li:hover {
    color: darkgoldenrod;
}

.racine-site > .middle > div {
    width: 100%;
}

.racine-site > .middle #hautPage {
    margin: 0;
}

.racine-site > .middle .header {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    width: 100%;
}

.racine-site > .middle > .center > .header {
    align-items: center;
}

.racine-site > .middle .header > div,
.racine-site > .middle .header .une-passion-photo {
    width: 20%;
    text-align: center;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 18px;
}

.racine-site > .middle .header .une-passion-photo {
    background-color: darkolivegreen;
    font-size: 16px;
    line-height: 40px;
}

.racine-site > .middle .header div a {
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    color: white;
    display: block;
    text-decoration: none;
}

.racine-site > .middle .header > div:hover,
.racine-site > .middle .header div a:hover {
    background-color: black;
    color: red;
    cursor: pointer;
}

.racine-site > .middle .header div a:hover,
.racine-site > .middle .header div a:hover {
    color: red;
    cursor: pointer;
}

.racine-site > .middle .center,
.racine-site > .middle .photo {
    background-color: azure;
    font-size: 18px;
}

.racine-site > .middle .center h3,
.racine-site > .middle .photo h3 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.racine-site > .middle .center .projet {
    margin-bottom: 25px;
}

.racine-site > .middle .center p,
.racine-site > .right .field1 p {
    font-size: 18px;
    margin: 0 25px;
    line-height: 1.5;
    text-align: justify;
}

.racine-site > .middle .center p {
    margin-bottom: 10px;
}

.racine-site > .middle .center ul {
    margin-left: 25px;
}

/* 
Nouvelle manière d'afficher un legend au milieu
*/
.legend-center {
    display: table;
    min-width: 0px;
    position: relative;
    margin: auto;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: green;
}

.racine-site > .middle > .center > .projet > .page-accueil > .lien-centrer {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 5px;
    justify-content: center;
}

.racine-site > .middle > .center > .projet > .page-accueil > .lien-centrer > a,
.racine-site > .middle > .center > p > a {
    color: white;
    text-decoration: none;
    background-color: darkgrey;
    font-size: 18px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
}

.racine-site > .middle > .center > .projet > .page-accueil > .lien-centrer > a:hover,
.racine-site > .middle > .center > p > a:hover {
    background-color: black;
    cursor: pointer;
    color: red;
}

/* Les div à intérieur de la sélection seront misent sur une ligne */
.racine-site > .middle .center div {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.racine-site > .middle .center > div .passion {
    width: 50%;
}

.racine-site > .middle .center .cheminement {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
}

.racine-site > .middle .center .cheminement td,
.racine-site > .middle .cheminement th {
    border: 1px solid black;
    padding: 5px;
}

.racine-site > .middle .center .cheminement tbody tr:nth-child(odd) {
    /*impaire*/
    background-color: aqua
}

.racine-site > .middle .center .cheminement tbody tr:nth-child(even) {
    /* paire */
    background-color: azure
}

span {
    font-weight: bold;
    color: red;
}

.gauche {
    width: 20%;
}

.racine-site > .middle .center .cheminement .new-certificat:hover {
    background-color: darkturquoise;
    color: black;
}

.racine-site > .middle .photo {
    position: relative;
}

.racine-site > .middle .photo > .sous_photo {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    /* permet de mettre les images sur plusieurs lignes*/
    width: 100%;
}

.racine-site > .middle .center > .section-passions {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.racine-site > .middle .center > .section-passions > .passion {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
}

.racine-site > .middle .photo .sous_photo .une-passion-photo {
    width: 50%;
    align-content: center;
    background-color: azure;
    padding: 25px;
}

.racine-site > .middle .photo .sous_photo .une-passion-photo:hover {
    background-color: black;
}

.racine-site > .middle .center ul li {
    margin-bottom: 5px;
}

.racine-site > .middle .center ul li:hover {
    color: cornflowerblue;
}

.racine-site > .middle .center .cheminement .new-certificat {
    color: cadetblue;
}

.racine-site > .middle .separation {
    background-color: black;
    height: 4px;
    margin-bottom: 15px;
}

.racine-site > .middle .return a {
    color: white;
    display: block;
    text-decoration: none;
    background-color: darkgrey;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.racine-site > .middle .return .cellulaire,
.cellulaire {
    display: none;
}

.racine-site > .middle .return a:hover {
    background-color: black;
    color: red;
    cursor: pointer;
}

.racine-site > .right > div {
    width: 100%;
}

.racine-site > .right .logo-right img {
    width: 100%;
}

.racine-site > div > div > .page-accueil,
.racine-site > .middle .center .projet .page-accueil {
    width: 100%;
    margin: 0;
    padding: 0;
}

.racine-site > div > div > .page-accueil {
    margin-bottom: 20px;
}

.racine-site > .right > div > .page-accueil > p {
    text-align: justify;
}

.racine-site > .right > .media,
.racine-site > .right > .media .sous_Media {
    width: 100%;
}

.racine-site > .right > .media .sous_Media {
    display: flex;
    display: -webkit-flex;
}

.racine-site > .right > .media .sous_Media .lienSocial {
    width: 25%;
}

.racine-site .right > .media .sous_Media > .lienSocial > a img {
    width: 100%;
    height: auto;
}

.racine-site > .right .info a {
    color: white;
    text-decoration: none;
    background-color: darkgrey;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    font-family: "Times New Roman", serif;
}

.racine-site > .right .info a:hover {
    background-color: black;
    cursor: pointer;
    color: red;
}

input[type="submit"] {
    color: white;
    background-color: darkgrey;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    font-family: "Times New Roman", serif;
    margin: 0 auto;
}

input[type="submit"]:hover {
    color: red;
    background-color: black;
    cursor: pointer;
}

.msgErr > li {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.courrielSend {
    color: green;
    font-weight: bold;
    font-size: 18px;
}

.formulaire {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    /* Les div enfants de formulaire seront l'un en dessous de l'autre*/
    -webkit-flex-direction: column;
}

.formulaire > .droite {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    /* flex-direction est par default à row */
    margin-bottom: 15px;
}

#msg,
input[type="text"],
input[type="email"] {
    width: 60%;
}

label {
    text-align: right;
    margin-right: 10px;
    width: 40%;
}