*{
    box-sizing: border-box;  
    -moz-box-sizing: border-box;    
}
.content{
    display: -webkit-flex; 
    display: flex;
    -webkit-flex-direction:column; 
    flex-direction:column;
    background-color: #F0FFF0;
    width: 50%;
    margin:auto;
    border: 3px solid black;
    margin-top: 150px;
}
.content > .center,
.content > .footer{
    width:100%;
    display: -webkit-flex; 
    display: flex;
    -webkit-flex-direction:column; 
    flex-direction:column;
}
.content > .center > .titre{
    margin:0;
    padding-top:15px;
    padding-bottom:15px;
    font-size: 24px;
    text-align: center;
}
.content > .center > ul li.info{
    font-size: 19px;
    margin-bottom:8px;
}
.content > .center > fieldset{
    margin:auto;
    padding: 0;
    width:65%;
    border-width: 2.5px;
    border-color:black;
}
.content > .center > fieldset > legend{
    font-weight: bold;
}
.content > .center > fieldset > form > div{
    display: flex; 
    display: -webkit-flex;
    -webkit-flex-direction:column; 
    flex-direction:column;
    width:100%;
}
.content > .center > fieldset > form > .connexion{
    width:55%;
    margin: auto;
    display: flex;    
    display: -webkit-flex;
    -webkit-flex-direction:column; 
    flex-direction:column;
}
.content > .center > fieldset > form > .connexion > .information{
    width:100%;
    margin-top: 10px;
    display: flex;    
    display: -webkit-flex;
    -webkit-flex-direction:column; 
    flex-direction:column;
}
.content > .center > fieldset > form > .connexion > .information > label{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}
.content > .center > fieldset > form > .troisBTN{
    margin-top: 15px;
    margin-bottom: 15px;
    width:100%;
    -webkit-flex-direction:row; 
    flex-direction:row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content:center;
}
.content > .footer{
    display: -webkit-flex; 
    display: flex;
    width:100%;
    -webkit-flex-direction:column; 
    flex-direction:column;    
}
.content > .footer div{
    width: 100%;
}
.content > .footer .btnRetour{
    display: -webkit-flex; 
    display: flex;
    justify-content:center;
}

.content > .center > fieldset > form > .troisBTN > input,
.content > .footer > form > .btnRetour > input{
    width: auto;
}

.bouton{
    background: #8deba8;
    background-image: -webkit-linear-gradient(top, #8deba8, #18420b);
    background-image: -moz-linear-gradient(top, #8deba8, #18420b);
    background-image: -ms-linear-gradient(top, #8deba8, #18420b);
    background-image: -o-linear-gradient(top, #8deba8, #18420b);
    background-image: linear-gradient(to bottom, #8deba8, #18420b);
    -webkit-border-radius: 21;
    -moz-border-radius: 21;
    border-radius: 21px;
    -webkit-box-shadow: 0px 0px 15px #14422e;
    -moz-box-shadow: 0px 0px 15px #14422e;
    box-shadow: 0px 0px 15px #14422e;
    font-family: Georgia;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 21px;
    padding: 6px 15px 10px 20px;
    border: solid #9bbed4 1px;
}
.bouton:hover{    
    background: #355c37;
    background-image: -webkit-linear-gradient(top, #355c37, #80cf87);
    background-image: -moz-linear-gradient(top, #355c37, #80cf87);
    background-image: -ms-linear-gradient(top, #355c37, #80cf87);
    background-image: -o-linear-gradient(top, #355c37, #80cf87);
    background-image: linear-gradient(to bottom, #355c37, #80cf87);  
    cursor: pointer;
}
.erreur input[type="text"]{
    border-color: red;
    background-color: #FCDEDE;
}
.erreur input[type="password"] {
    border-color: red;
    background-color: #FCDEDE;
}
.avert > p{
    font-size:20px;
    color: green;
    text-align: center;
    font-weight: bold;
}
.erreur > p{
    font-size:20px;
    color: red;
    text-align: center;
    font-weight: bold;
}
@media screen and (max-width:768px) {
    .content{
        width: 100%;
        margin: 0;
    }
    .content > .center > fieldset{
        margin:0;
        padding: 0;
        width:100%;
    }
    .content > .center > fieldset > form > .connexion{
        width:100%;        
    }
    .content > .center > fieldset > form > .connexion > .information{
        width:100%; 
        justify-content:center;
    }
    .content > .center > ul{
        margin: 0;
        padding-left: 30px;
    }
    .content > .center > ul li.info {
        font-size: 17px;
    }    
    .information, .erreur{
        width: 100%;
        display: -webkit-flex; 
        display: flex;
        -webkit-flex-direction:column; 
        flex-direction:column;   
    }
    .connexion .information > input[type="text"], 
    .connexion .information > input[type="password"]{
        width: 70%;
        margin: auto;
    }
    .content > .center > fieldset > form > .connexion > .information > label{
        width: 100%;
        text-align: center;
    }
    .content > .center > fieldset > form > .troisBTN > input,
    .content > .footer > .btnRetour > form > input{
        width: 70%;
    }
    .content > .center > fieldset > form > .troisBTN{
        margin-bottom: 0;
    }
    .content > .center > fieldset > form > .troisBTN > input{
        margin-bottom: 10px;
    }
    .content > .footer > .btnRetour > form > input{        
        width: 100%;
    }
    .erreur p{
        margin:10px;
    }
}
