:root {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;

    color: #e5e7eb;
    background-color: #0b1020;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  width: 70%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    font-weight: 500;
    color: white;
}

h1 {
  font-size: 48px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

.container{
    margin-bottom: 100px;
}

.container:first-of-type{
    width: 75%;
}


table {
    border-collapse: collapse;
    width: 100%;
}

thead th {
    padding: 14px 12px;
    text-align: center;
    color: #60a5fa;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-bottom: 2px solid rgba(255,255,255,0.08);
    background-color: rgba(255,255,255,0.03);
}

tbody td {
    padding: 12px;
}

.text-right {
    text-align: right;
    padding-right: 100px;
}

.text-left {
    padding-left: 50px;
}

tbody tr:nth-child(even) {
    background-color: rgba(255,255,255,0.02);
}

/* Ligne tableau */
tbody tr {
    transition:
        background-color 0.25s ease,
        transform 0.2s ease,
        box-shadow 0.25s ease;

    cursor: pointer;
}

/* Hover */
tbody tr:hover {
    background:
        linear-gradient(
            90deg,
            rgba(0,120,255,0.15),
            rgba(255,255,255,0.03)
        );
    border-left: 4px solid #3b82f6;
}