* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
}

.lesInstruction {
    display: none;
}

input[type="submit"] {
    background: #abe671;
    background-image: -webkit-linear-gradient(top, #abe671, #572bb8);
    background-image: -moz-linear-gradient(top, #abe671, #572bb8);
    background-image: -ms-linear-gradient(top, #abe671, #572bb8);
    background-image: -o-linear-gradient(top, #abe671, #572bb8);
    background-image: linear-gradient(to bottom, #abe671, #572bb8);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 30px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 16px;
    border: solid #1f628d 3px;
}

input[type="submit"]:hover {
    background: #b153e0;
    background-image: -webkit-linear-gradient(top, #b153e0, #93eb81);
    background-image: -moz-linear-gradient(top, #b153e0, #93eb81);
    background-image: -ms-linear-gradient(top, #b153e0, #93eb81);
    background-image: -o-linear-gradient(top, #b153e0, #93eb81);
    background-image: linear-gradient(to bottom, #b153e0, #93eb81);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: white;
    background-color: cadetblue;
}

/* 
Nouvelle manière d'afficher un legend au milieu
*/
.legendCenter {
    display: table;
    min-width: 0px;
    position: relative;
    margin: auto;
    background-color: #F0FFF0;
    border: 4px outset;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: green;
}


.procedure {
    width: 50%;
    background-color: #F0FFF0;
    margin: auto;
}

.calcul {
    width: 50%;
    background-color: #F0FFF0;
    margin: auto;
}

.button {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}

.buttonOpe {
    height: 30px;
    width: 30px;
}

.buttonegal {
    height: 50px;
    width: 50px
}

.buttonReset {
    height: 75px;
    width: 75px
}

.buttonReturn {
    height: 30px;
    width: 300px;
}

.H1titre {
    text-align: center;
    color: white;
}

a {
    color: green;
    font-weight: bold;
}

#info {
    color: white;
    font-weight: bold;
    text-align: center;
}

.footer {
    width: 20%;
    margin: auto;
    padding: 0;
    border: 0;
}

@media screen and (max-width:768px) {

    .procedure,
    .calcul {
        width: 100%;
    }

    ol {
        padding-left: 30px;
    }
}
