* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    /* https://pxhere.com/fr/photo/1280141 */
    background-image: url("timer.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

.container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.container > div,
.container > .tableau-bord > form > .choix,
.container > .tableau-bord > .section-choix {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.container > .tableau-bord {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.container > .tableau-bord > form,
.container > .timer > .section-mises,
.container > .timer > .section-temps,
.container > .tableau-bord > .section-choix {
    margin-top: 30px;
}

.container > .tableau-bord > form > .choix > label {
    font-weight: bold;
    font-size: 1.1em;
    color: whitesmoke;
}

.container > .tableau-bord > form > .choix > #choix-organisateur {
    padding: 5px;
    width: 50%;
    border-radius: 10px;
    margin: auto auto 10px;
}

.container > .tableau-bord > form > .choix > label {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.container > .tableau-bord > form > .choix > .bouton {
    margin: auto;
    width: 50%;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur {
    width: 100%;
    text-align: center;
    font-size: 48px;
    border-collapse: collapse;
    border: 2px solid black;
}

/* 
Les couleurs des valeurs de jetons seront transformer en classe pour retrouver la bonne couleur en CSS 
*/
.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .black {
    background-color: black;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .brown {
    background-color: brown;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .darkblue {
    background-color: darkblue;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .darkred {
    background-color: darkred;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .green {
    background-color: green;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .grey {
    background-color: grey;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .lightblue {
    background-color: lightblue;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .orange {
    background-color: orange;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .pink {
    background-color: pink;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .purple {
    background-color: purple;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .red {
    background-color: red;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .white {
    background-color: white;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .yellow {
    background-color: yellow;
}


.container > .tableau-bord > .section-choix > .tbl-valeur-couleur td,
.container > .tableau-bord > .section-choix > .tbl-valeur-couleur th {
    border: 1px solid black;
    padding: 5px;
}

.container > .tableau-bord > .section-choix > .tbl-valeur-couleur .valeur-style {
    background-color: white;
}

.container > .timer {
    width: 60%;
    margin: auto;
}

.container > .timer > .section-mises,
.container > .timer > .section-temps {
    display: -webkit-flex;
    display: flex;
    background-color: black;
    width: 100%;
}

.container > .timer .section-mises > div,
.container > .timer .section-temps > div {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.container > .timer .section-mises > div > div {
    border: 3px outset #b3d9ff;
    vertical-align: middle;
}

.container > .timer > .section-mises > .mises {
    width: 65%;
}

.container > .timer > .section-mises > .boutons-mises {
    width: 35%;
}

.container > .timer > .section-mises > .mises > .titre {
    width: 100%;
}

.container > .timer > .section-mises > .mises > .petite,
.container > .timer > .section-mises > .mises > .grosse {
    width: 50%;
}

.container > .timer > .section-mises > .mises > div > p,
.container > .timer > .section-temps > .temps > div > p {
    text-align: center;
    color: white;
    margin: 5px;
    font-weight: bold;
    padding: 5px;
    font-size: 48px;
}

.container > .timer > .section-temps > .temps > #chiffre-min p,
.container > .timer > .section-temps > .temps > #chiffre-sec p,
.container > .timer > .section-mises > .mises > .petite > .blind,
.container > .timer > .section-mises > .mises > .grosse > .blind {
    font-size: 64px;
}

.container > .timer > .section-mises > .boutons-mises > div {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.container > .timer > .section-temps > div > div {
    border: 3px outset MediumSeaGreen;
}

.container > .timer > .section-temps > .temps {
    width: 65%;
}

.container > .timer > .section-temps > .temps > .periode {
    width: 100%;
}

.container > .timer > .section-temps > .temps > .minutes,
.container > .timer > .section-temps > .temps > .secondes,
.container > .timer > .section-temps > .temps > #chiffre-min,
.container > .timer > .section-temps > .temps > #chiffre-sec {
    width: 50%;
}

.container > .timer > .section-temps > .boutons-temps {
    width: 35%;
}

.container > .timer > .section-temps > .boutons-temps > div {
    display: -webkit-flex;
    display: flex;
    width: 50%;
}

.container > .timer > .section-temps > .boutons-temps .action-temps {
    width: 100%;
}

.container > .timer > .section-mises > .boutons-mises > div .disabled,
.container > .timer > .section-temps > .boutons-temps .action-temps > .disabled {
    opacity: 0.4;
    cursor: none;
}

.boutonRetour {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    background-color: black;
    width: 25%;
    margin: auto;
    border: 3px outset #3385ff;
}

.boutonRetour {
    margin-top: 25px;
}

.boutonRetour > .retour {
    width: 100%;
}

.boutonRetour > .retour > input,
.container > .timer > .section-temps button,
.container > .timer > .section-mises button,
.container > .tableau-bord .choix .bouton {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 40px;
    background: #3455d9;
    background-image: -webkit-linear-gradient(top, #3455d9, #2bb84c);
    background-image: -moz-linear-gradient(top, #3455d9, #2bb84c);
    background-image: -ms-linear-gradient(top, #3455d9, #2bb84c);
    background-image: -o-linear-gradient(top, #3455d9, #2bb84c);
    background-image: linear-gradient(to bottom, #3455d9, #2bb84c);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px #666666;
    -moz-box-shadow: 0 1px 3px #666666;
    box-shadow: 0 1px 3px #666666;
    font-family: Georgia, serif;
    border: solid #8c601f 2px
}

.container > .tableau-bord .choix .bouton {
    width: 40%;
}

.boutonRetour > .retour > input:hover,
.container > .timer > .section-temps button:hover,
.container > .timer > .section-mises button:hover,
.container > .tableau-bord .choix .bouton:hover {
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #56b064, #6679b3);
    background-image: -moz-linear-gradient(top, #56b064, #6679b3);
    background-image: -ms-linear-gradient(top, #56b064, #6679b3);
    background-image: -o-linear-gradient(top, #56b064, #6679b3);
    background-image: linear-gradient(to bottom, #56b064, #6679b3);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container > .tableau-bord {
        width: 100%;
    }

    .container > .tableau-bord > .affichage-choix > .tbl-valeur-couleur {
        font-size: 38px;
    }

    .container > .tableau-bord > form > .choix > #choix-organisateur {
        width: 50%;
    }

    .container > .tableau-bord > form > .choix > .bouton {
        width: 50%;
    }

    .container > .timer {
        width: 100%;
    }

    .container > .timer > .section-mises,
    .container > .timer > .section-temps {
        width: 100%;
    }

    .container > .timer > .section-mises,
    .container > .timer > .section-temps {
        width: 100%;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .container > .timer > .section-mises > .mises,
    .container > .timer > .section-mises > .boutons-mises {
        width: 100%;
    }

    .container > .timer > .section-mises > .boutons-mises > div {
        width: 100%;
    }

    .container > .timer > .section-temps > .temps {
        width: 100%;
    }

    .container > .timer > .section-temps > .temps > div > p {
        font-size: 32px;
    }


    .container > .timer > .section-temps > .boutons-temps {
        width: 100%;
    }

    .container > .timer > .section-temps > .boutons-temps > div > button {
        font-size: xx-large;
    }

    .container > .timer > .section-temps > .boutons-temps .reprend #timerReprend {
        font-size: x-large;
    }

    .boutonRetour {
        width: 100%;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .boutonRetour > .retour input {
        font-size: large;
    }
}
